@font-face {
	font-family: Roboto;
	src: url("../fonts/Roboto-Regular.woff2?v=2.137") format("woff2"), url("../fonts/Roboto-Regular.woff?v=2.137") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: fallback;
}

@font-face {
	font-family: Roboto;
	src: url("../fonts/Roboto-Bold.woff2?v=2.137") format("woff2"), url("../fonts/Roboto-Bold.woff?v=2.137") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: fallback;
}

html {
	font-size: 62.5%;
	box-sizing: border-box;
	overflow-y: scroll;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 1.6rem;
	line-height: 1.5;
	font-weight: 400;
	word-wrap: break-word;
	text-rendering: optimizeLegibility;
	-webkit-overflow-scrolling: touch;
	-webkit-text-size-adjust: none;
	margin: 0;
	color: #222;
	background-color: #fff;
}

a {
	text-decoration: none;
	color: #222;
}

a:hover,
a:focus {
	color: #d42c65;
}

img {
	max-width: 100%;
	vertical-align: bottom;
}

svg {
	vertical-align: middle;
	fill: currentColor;
}

iframe {
	width: 100%;
	height: 100%;
	border: 0;
}

hr {
	border: none;
	background-color: #eee;
	height: 1px;
}

pre {
	white-space: pre-wrap;
}

::placeholder {
	color: #888;
}

input:focus::placeholder {
	color: transparent;
}

input,
select,
textarea,
button {
	outline: none;
	font: inherit;
	color: inherit;
	border: 1px solid #eee;
	background-color: inherit;
	padding: 0.6rem 1rem;
	min-width: 30rem;
	vertical-align: top;
}

button,
input[type=submit] {
	cursor: pointer;
	background-color: #eee;
}

label {
	display: block;
}

fieldset {
	border: none;
	margin: 0;
	padding: 0;
}

fieldset div {
	margin: 0 0 2rem;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	border: 1px solid #eee;
}

table th,
table td {
	padding: 1rem;
	border: 1px solid #eee;
}

.clear:after,
.clear::before {
	content: "";
	display: table;
}

.clear:after {
	clear: both;
}

/* wide */

.wide {
	width: calc(100% - 4em);
	max-width: 94rem;
	margin: 0 auto;
}

/* dropit */

.dropit,
.dropit ul {
	list-style: none;
	padding: 0;
	margin: 0
}

.dropit li {
	position: relative;
}

.dropit ul {
	display: none;
	position: absolute;
	top: 100%;
	z-index: 9;
	white-space: nowrap;
}

/* topbar */

.topbar {
	background-color: #222;
}

.topbar a {
	color: #fff;
}

.topbar a:hover,
.topbar a:focus {
	color: #d42c65;
}

.topbar .dashboard,
.topbar .btn-add {
	float: left;
	margin-left: 1rem;
}

.topbar .btn-user {
	float: right;
	margin-right: 1rem;
}

.topbar .btn-user ul {
	right: 0;
}

.topbar .dashboard>a,
.topbar .btn-add>li>a,
.topbar .btn-user>li>a {
	display: block;
	line-height: 3;
	padding: 0 2rem;
}

.topbar ul ul {
	padding: 1rem 0;
	background-color: #222;
}

.topbar ul ul a {
	line-height: 2;
	display: block;
	padding: 0 2rem;
}

/* brand */

.brand {
	text-align: center;
	padding: 8rem 0;
	border-bottom: 1px solid #eee;
}

.brand h1 {
	margin: 0;
	font-size: 4rem;
	line-height: 1.2;
}

.brand p {
	margin: 1rem 0 0;
	font-size: 2rem;
}

/* menu */

.menu {
	border-bottom: 1px solid #eee;
}

@media(min-width:769px) {
	.menu>ul>li {
		float: left;
	}
	.menu ul ul {
		padding: 1rem 0;
		min-width: 14rem;
		background-color: #fff;
		border: 1px solid #eee;
	}
}

.menu>ul>li>a {
	display: block;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 6rem;
	padding: 0 2rem;
}

.menu .current a {
	color: #d42c65;
}

.menu ul ul a {
	display: block;
	line-height: 4rem;
	padding: 0 2rem;
}

.btn-menu {
	text-align: center;
}

.btn-menu a {
	display: block;
	line-height: 6rem;
	padding: 0 2rem;
}

@media(min-width:769px) {
	.btn-menu {
		display: none;
	}
}

.btn-menu.active a {
	color: #d42c65;
}

@media(max-width:768px) {
	.main-menu {
		display: none;
	}
	.main-menu.dropit ul {
		position: relative;
		padding-left: 4rem;
	}
}

.main-menu.show {
	display: block;
	border-top: 1px solid #eee;
}

/* main */

.main {
	margin: 0 2rem;
}

/* article */

article,
.archive {
	margin: 6rem 0;
}

article .featured-image {
	text-align: center;
	margin-bottom: 6rem;
}

article .date {
	font-size: 1.4rem;
	font-weight: 700;
}

article .title {
	font-size: 3.2rem;
	line-height: 1.2;
	position: relative;
	margin: 0 0 2rem;
	padding: 0 0 3rem;
}

article .title::after {
	display: block;
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	height: 1px;
	width: 80px;
	background-color: #eee;
}

article .content a {
	border-bottom: 1px dotted #d42c65;
}

article .content h1,
article .content h2,
article .content h3,
article .content h4 {
	margin-top: 6rem;
}

article .content h1:first-child,
article .content h2:first-child,
article .content h3:first-child,
article .content h4:first-child {
	margin-top: 0;
}

article .content>* {
	margin-bottom: 3rem;
}

article .content>*:last-child {
    margin-bottom: 0;
}

article .content form {
	width: 30rem;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

article footer {
	margin: 3rem 0 0;
}

article .category a,
article .tag a {
	font-weight: 700;
}

.edit-article {
    margin: 0 0 6rem;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.2rem;
    border: 2px solid #eee;
    padding: 0.5rem 1.3rem;
}

/* paging */

.paginate,
.prevnext {
	margin: 0 0 6rem;
	text-align: center;
}

.paginate ul {
	list-style: none;
	padding: 0;
}

.paginate li {
	display: inline-block;
}

.paginate .disabled {
	display: none;
}

.paginate .current,
.prevnext a {
	font-weight: 700;
}

.paginate .current,
.paginate a,
.prevnext a {
	display: inline-block;
	font-size: 1.4rem;
	padding: 0.5rem 1.3rem;
	margin: 0 0.15rem;
	border: 2px solid #eee;
}

.paginate p {
	font-size: 1.3rem;
}

/* footer */

.footer {
	font-size: 1.4rem;
	font-weight: 700;
	margin: 0 0 6rem;
	padding: 3rem 2rem;
	border-top: 1px solid #eee;
}

/* message */

.message {
	text-align: center;
	font-weight: 700;
	margin: 6rem 0;
}

.error-message {
	font-size: 1.3rem;
	color: #d42c65;
}
